.root{
    --fundo:#5F9EA0;
    --cor-frente:#FFDAB9;
    --cor-verso:#800000;
    --destaque:#CD5C5C;
    --preto:#000000;
    --branco:#ffffff;	
}
body{
    background-color: var(--fundo);
}
footer{

}