:root{
    --fundo:#5fa090;
    --cor-frente:#3aa774;
    --cor-verso:#128367;
    --destaque:#0c5539;
    --preto:#000000;
    --branco:#ffffff;	
}
body{
    background-color: var(--fundo);
}
footer{
    position: fixed;
    bottom: 0;
    background-color: var(--preto);
    color: var(--branco);
    width: 100%;
    text-align: center;
    margin: 0;
}
